.funnel-img {
  height: 710px;
  width:100%;
  position: relative;
}

.funnel-chart {
  position: relative;
  text-align: center;
  height: 710px;
  width:600px;
}

.text-over-img {
  position:absolute;
  top: 0;
  width:100%
}

.label-value:nth-child(even) {
  padding-bottom: 30px !important;
  margin-top: 30px !important;
}

.label {
  font-size: 18px;
  color: #ffff;
  font-weight: 400;
}

.value {
  font-size: 48px;
  color: #ffff;
  font-weight: 700;
}

.last-label-value {
  font-size: 48px;
  color: #ffff;
  font-weight: 700;
}

