<div class="sale-cards">
  <div class="card">
    <img class="icon" src="/assets/ico-calls.png">
    <div class="right-allign">
      <dd class="card-txt">CALLS</dd>
      <dd class="card-value">{{chartData.call}}</dd>
    </div>
  </div>

  <div class="card">
    <img class="icon" src="/assets/ico-wins.png">
    <div class="right-allign">
      <dd class="card-txt">WINS</dd>
      <dd class="card-value">{{chartData.win}}</dd>
    </div>
  </div>

  <div class="card">
    <img class="icon" src="/assets/ico-revenue.png">
    <div class="right-allign">
      <dd class="card-txt">INCREMENTED REVENUE</dd>
      <dd class="card-value">{{chartData.revenue}}</dd>
    </div>
  </div>
</div>
