<div class="sale-cards">
  <div class="card">
    <img class="icon" src="/assets/ico-calls.png">
    <div class="right-allign">
      <p class="card-txt">CALLS</p>
      <p class="card-value">{{chartData.call}}</p>
    </div>
  </div>

  <div class="card">
    <img class="icon" src="/assets/ico-wins.png">
    <div class="right-allign">
      <p class="card-txt">WINS</p>
      <p class="card-value">{{chartData.win}}</p>
    </div>
  </div>

  <div class="card">
    <img class="icon" src="/assets/ico-revenue.png">
    <div class="right-allign">
      <p class="card-txt">INCREMENTED<br> REVENUE</p>
      <p class="card-value">{{chartData.revenue}}</p>
    </div>
  </div>
</div>
