/* You can add global styles to this file, and also import other style files */

body {
  background-color: #eff3f6;
}

.mat-ink-bar {
  height: 3px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #2196f3 !important;
}

.mat-tab-label-active {
  color: #2196f3 !important;
}
